body, h1, p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.title {
  display: flex;
}

#page {
  margin-left: auto;
  margin-right: auto;
  width: 720px;
}

#banner {
  height: 300px;
  background-image: url(https://picsum.photos/720/300);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px
}

.gallery-title {
  font-size: 45px;
  text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#menu {
  background-color: rgb(55, 59, 83);
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-menu-nav {
  background-color: rgb(86, 91, 122);
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  margin: 5px;
}
